@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;

    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;

    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    margin: 0;
    flex-direction: column;

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #333;
    background-color: #f2f2f2;
}

.main-container {
    flex-grow: 1;
}

.container {
    width: 1200px;
    margin: 0 auto;

    background-color: #fff;
}

.header-container {
    position: relative;

    display: flex;
    width: 1060px;
    margin: 0 auto;

    justify-content: space-between;
}

.logo-wrapper {
    position: absolute;
    z-index: 5;
}

.navigation {
    position: relative;
    z-index: 5;

    display: flex;
    padding-left: 139px;
    flex-grow: 1;

    justify-content: space-between;
}

.navigation-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style-type: none;

    align-items: center;
}

.navigation-site {
    margin-left: 47px;
    flex-grow: 1;

    justify-content: start;
}

.navigation-site .navigation-item {
    margin-right: 35px;
}

.navigation-site .navigation-item:last-child {
    margin-right: 0;
}

.navigation-user {
    justify-content: end;
}

.navigation-user-item {
    display: flex;

    align-items: center;
    justify-content: center;
}

.welcome-heading {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
}

.welcome-heading .subtitle {
    margin-bottom: 90px;
}

.booking {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
}

.inner-header h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;

    color: #fff;
}

.title-heading {
    margin: 0;
}

.grid-list {
    display: grid;
    padding: 0;
    margin: 0;

    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(4, minmax(384px, 1fr));
}

.landscape {
    grid-column: span 2;
}

.welcome-heading h2 {
    margin: 63px 290px 31px;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}

.modal h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-transform: uppercase;

    color: #000;
}

.subscribe {
    padding: 94px 200px;
}

.subscribe h2 {
    margin: 0 0 29px;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-transform: uppercase;

    color: #fff;
}

.subscribe-light h2 {
    color: #000;
}

.booking h2 {
    margin: 0;
}

.five-reasons h2 {
    margin: 0;
}

.grid-item {
    display: flex;
    flex-direction: column;

    list-style-type: none;

    text-align: center;

    align-items: center;
    justify-content: flex-start;
}

.grid-item h3 {
    margin: 90px 0 30px;
}



.grid-item p {
    margin: 0;
}

.grid-item-blue h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-transform: uppercase;

    color: #fff;
}

.grid-item-grey h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-transform: uppercase;

    color: #000;
}
.grid-item-light-grey {
  background-color: rgba(131, 179, 211, 0.12);
}
.grid-item-light-grey h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-transform: uppercase;

    color: #000;
}

.booking-card h3 {
    margin: 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-transform: uppercase;

    color: #000;

    grid-column: span 2;
}

.grid-item h4 {
  margin: 180px 0 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-transform: uppercase;

    color: #000;
}

.dark-number {
    color: #000;
}

.heading-light {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-transform: uppercase;

    color: #fff;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.welcome-banner::after {
    position: absolute;
    bottom: -4px;
    left: 0;

    padding: 0;

    content: url("../images/banner/divider.svg");
}

.welcome-banner {
    position: relative;

    display: flex;

    background-color: #300c1c;
    background-image: url("../images/pictures/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
}

.welcome-banner img {
    padding: 51px 0 82px;
}

.price-choice-wrapper {
    display: flex;

    justify-content: flex-start;
}

.price-choice {
    padding: 14px 14px 14px 19px;
    margin-bottom: 20px;

    border: 2px solid #fff;
}

.price-choice:first-child {
    border-right: 1px solid #fff;
    border-radius: 4px 0 0 4px;
}

.price-choice:last-child {
    border-left: 1px solid #fff;
    border-radius: 0 4px 4px 0;
}

.price-input {
    width: 93px;

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #fff;
    border: none;
    background-color: transparent;
}

.price-limits {
    opacity: .3;
}

.want-here-button {
    position: relative;

    display: inline-block;
    width: 160px;
    padding: 9px 0;
    margin: 14px 0 14px 20px;

    text-decoration: none;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    text-decoration: none;

    color: #000;
}

.navigation-item .navigation-link {
    padding: 20px 0 19px;

    border-bottom: 1px solid #fff;
}

.navigation-item .navigation-link-current {
    border-bottom: 2px solid #756257;
}

.navigation-search:before {
    content: url("../images/icons/search.svg");
}

.navigation-favorites:before {
    content: url("../images/icons/favorite.svg");
}

.navigation-icons {
    position: relative;

    display: flex;
    width: 42px;
    height: 100%;

    justify-content: center;
}

.button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #756157;
}

.search-hotel-button {
    padding: 12px 150px;
    margin-bottom: 93px;

    font-size: 20px;
    line-height: 36px;

    text-decoration: none;
}

.button-link {
    padding: 9px 15px;

    text-decoration: none;
}

.search-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;

    border-radius: 10px;
    background-color: #83b3d3;
}

.button-to-favorites {
    background-color: #82b3d3;
}

.button-favorites {
    background-color: #7db54f;
}

.subtitle {
    margin: 0 162px 46px;

    font-size: 22px;
    line-height: 26px;

    text-align: center;
}

.favorites {
    position: absolute;
    top: 14px;
    right: -3px;

    display: flex;
    width: 20px;
    height: 20px;

    font-size: 10px;
    line-height: 13px;

    text-align: center;
    letter-spacing: -.1em;

    color: #fff;
    border-radius: 10px;
    background-color: #7db54f;

    align-items: center;
    justify-content: center;
}

.subtitle-light {
    color: #fff;
}

.contact-phone {
    font-size: 40px;
    line-height: 40px;

    text-decoration: none;
    text-transform: uppercase;

    color: #000;
}

.modal-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #000;
}

.modal-input {
    font-size: 18px;
    line-height: 21px;

    color: #000;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.modal-kids {
    color: #fff;
    border-radius: 4px;
    background-color: #83b3d3;
}

.error-data {
    font-size: 16px;

    color: #ff5757;
}

.free-rooms {
    font-size: 16px;
}

.booking-card-price {
    font-weight: 400;
}

.rating {
    font-size: 16px;
    line-height: 20px;

    text-transform: uppercase;
}

.grid-item-blue {
    color: #fff;
    background-color: #82b3d3;
}

.grid-item-grey {
    background-color: rgba(131, 179, 211, .2);
}



.subscribe {
    display: flex;
    flex-direction: column;

    background-color: #300c1c;
    background-image: url("../images/pictures/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: flex-start;
}

.subscribe-form {
    display: flex;
    margin: 0;

    align-items: center;
    justify-content: center;
}

.apply-button {
    padding: 14px 15px;

    font-size: 16px;
    line-height: 20px;

    background-color: #82b3d3;
}

.reset-button {
    padding: 14px 15px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    background-color: transparent;
}

.subscribe-light {
    background-color: #fff;
    background-image: none;
}

.subscribe-button {
    padding: 12px 15px;
    margin: 0;

    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 0 10px 10px 0;
    background: #82b3d3;
}

.subscribe-input {
    width: 600px;
    height: 58px;
    padding: 0 22px;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;

    color: #000;
    border: 1px solid #f2f2f2;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
}

.search-form {
    color: #fff;
    background-color: #300c1c;
    background-image: url("../images/pictures/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumbs-item:not(:last-child)::after {
    margin: 0 10px;

    content: url("../images/icons/arrow.svg");

    color: #fff;
}

.breadcrumbs-list {
    display: flex;
    padding: 0;
    margin: 0 0 40px;

    list-style-type: none;

    justify-content: flex-start;
}

.breadcrumbs-link {
    font-size: 16px;

    text-decoration: none;

    color: #fff;
}

.title-page-link {
    width: 12px;
    height: 12px;
    padding: 0 12px;

    background-image: url("../images/icons/housing.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button-view-selection {
    display: inline-block;
    width: 48px;
    height: 48px;

    border: 2px solid #e5e5e5;
    border-radius: 4px;
    background-repeat: no-repeat;
}

.button-view-current {
    border: 2px solid #000;
}

.button-view-list {
    background-image: url("../images/icons/list-view.svg");
    background-position: center;
}

.button-view-slideshow {
    background-image: url("../images/icons/slideshow-view.svg");
    background-position: center;
}

.button-view-table {
    background-image: url("../images/icons/table-view.svg");
    background-position: center;
}

.networks-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style-type: none;

    align-items: center;
    justify-content: flex-start;
}

.networks-item {
    display: flex;
    width: 48px;
    height: 40px;

    align-items: center;
    justify-content: center;
}

.network-link {
    display: block;

    background-repeat: no-repeat;
    background-size: cover;
}

.network-link-vk:after {
    content: url("../images/icons/vk.svg");
}

.network-link-telegram:after {
    content: url("../images/icons/telegram.svg");
}

.network-link-youtube:after {
    content: url("../images/icons/youtube.svg");
}

.select-quantity {
    width: 160px;
    height: 49px;
    padding: 14px 20px;

    font-size: 18px;

    border: 2px solid #e5e5e5;
    border-radius: 4px;
}

.large-text {
    margin: 0;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-transform: uppercase;

    color: #000;
}

.interested {
    margin: 91px 0 29px;
}

.select-control {
    width: 290px;
    padding: 14px 0 14px 20px;

    font-size: 18px;

    border: 2px solid #e5e5e5;
    border-radius: 4px;
}

.modal-close-button {
    border: none;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
}

.button-modal {
    border: none;
    background-color: #f2f2f2;
}

.previous-button {
    background-image: url("../images/icons/minus.svg");
    background-repeat: no-repeat;
}

.next-button {
    background-image: url("../images/icons/plus.svg");
    background-repeat: no-repeat;
}

.conditions {
    font-size: 16px;

    color: #fff;
    background-color: #000;
}

.stars {
    display: flex;

    align-items: center;
    justify-content: flex-start;
}

.star {
    display: inline-block;
    width: 18px;
    height: 17px;
    margin-right: 6px;

    background-image: url("../images/icons/star.svg");
    background-position: center;
    background-size: cover;
}

.star:last-child {
    margin-right: 0;
}

.conditions-housing {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.feature-selection ul li {
    margin-bottom: 15px;
}

.feature-selection ul li:last-child {
    margin-bottom: 0;
}

.overlay {
    display: none;
}

.page-footer {
    display: flex;
    padding: 40px 0 30px;
    margin: 0 70px;

    align-items: center;
    justify-content: space-between;
}

.search-form {
    padding: 35px 70px 70px;
}

.inner-header h1 {
    margin: 0 0 10px 0;
}

.catalog {
    display: flex;

    justify-content: space-between;
}

.choice-form {
    display: flex;

    justify-content: flex-start;
}

.range-form {
    display: flex;

    justify-content: flex-end;
}

.buttons-form {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

.feature-selection {
    padding: 0;
    margin: 0 70px 0 0;

    border: none;
}

.feature-selection:last-child {
    margin: 0;
}

.feature-selection ul {
    padding: 0;
    margin: 0;
}

.feature-selection ul li {
    list-style-type: none;
}

.range-area {
    padding: 0;
    margin: 0 70px 0 0;

    border: none;
}

.search-result-display {
    display: flex;
    margin: 55px 70px;

    align-items: center;
    justify-content: flex-start;
}

.hotels-found {
    flex-grow: 1;
}

.select-control {
    margin-right: 75px;
}

.view-selection-list {
    display: flex;
    padding: 0;
    margin: 0;

    justify-content: center;
}

.view-selection-item {
    margin-right: 10px;

    list-style-type: none;
}

.view-selection-item:last-child {
    margin: 0;
}

.booking-cards-list {
    display: flex;
    padding: 0;
    margin: 0 70px 65px;

    column-gap: 18px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.booking-card {
    display: grid;
    padding: 20px;

    list-style-type: none;

    column-gap: 20px;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 1fr auto 21px 37px 37px;
    row-gap: 16px;
}

.view-hotel {
    grid-column: span 2;
}

.rating {
    padding: 9px 22px;
    margin: 0;

    border-radius: 4px;
    background-color: #f2f2f2;
}

.choice-management {
    display: flex;
    padding: 30px 0 25px;
    margin: 0 70px;

    border-top: 1px solid #e6e6e6;

    justify-content: space-between;
}

.pagination {
    display: flex;
    padding: 0;
    margin: 0;

    align-items: center;
    gap: 8px;
    justify-content: flex-start;
}

.pagination-item {
    display: flex;
    flex-direction: column;

    list-style-type: none;

    justify-content: center;
}

.pagination-link {
    width: 60px;
    padding: 12px 0;

    font-size: 20px;
    line-height: 36px;

    text-decoration: none;

    border-radius: 4px;
    background-color: #82b3d3;
}

.pagination-current {
    color: #000;
    background-color: #f2f2f2;
}

.hotels-per-page {
    display: flex;

    align-items: center;
}

.hotels-per-page label {
    margin-right: 50px;
}

.reasons-box {
    padding: 0 85px;
}
.reasons-box span {
margin: 0 0 30px;
}
.advantage-box {
    padding: 0 85px;

    background-repeat: no-repeat;
    background-position: center 80px;
}

.advantage-box-housing{
background-color: rgba(131, 179, 211, .12);;
  background-image: url("../images/icons/housing.svg");
}
.advantage-box-food{
background-color: #FFFFFF;
  background-image: url("../images/icons/food.svg");
}
.advantage-box-souvenirs{
  background-color: rgba(131, 179, 211, .12);;
  background-image: url("../images/icons/souvenirs.svg");
}
